<!DOCTYPE html>
<html lang="ko" layout:decorate="/layout/adminLayout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="main">
    <div id="container">
        <div class="innerwrap">
            <div class="page_tits">
                <h3>관리자 관리</h3>
                <p class="path"><strong>현재위치 :</strong> <span>기준정보관리</span> <span>관리자 관리</span></p>
            </div>
            <div id="main">
                <form id="form" name="form" onsubmit="return false;">
                    <input id="isDuplicate" name="isDuplicate" type="hidden" value="Y" /> <!-- ID 중복체크를 위한 input -->
                    <input id="passwordDuplicate" name="passwordDuplicate" type="hidden" value="Y" /> <!-- Password 중복체크를 위한 input -->
                    <div class="section hidden">
                        <div class="fl w30">
                            <h4>관리자 등록</h4>
                            <table class="tb tb_row">
                                <colgroup>
                                    <col style="width:25%;" />
                                    <col style="width:auto;" />
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">아이디</th>
                                    <td>
                                        <input class="in1" id="loginId" name="loginId" type="text" />
                                        <button class="btns btn_st2" id="checkBtn" name="checkBtn" onclick="checkDuplicate()" type="button">중복확인</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">비밀번호</th>
                                    <td><input id="password" maxlength="12" name="password" type="password" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">관리자명</th>
                                    <td><input id="name" name="name" type="text" /></td>
                                </tr>
                                <tr>
                                    <th scope="row">사용여부</th>
                                    <td>
                                        <div class="radio_group">
                                            <p class="radios">
                                                <input checked id="DT002_6_01" name="deleteYn" type="radio" value="N" />
                                                <label for="DT002_6_01">사용</label><span class="check"></span>
                                            </p>
                                            <p class="radios">
                                                <input id="DT002_6_02" name="deleteYn" type="radio" value="Y" />
                                                <label for="DT002_6_02">미사용</label><span class="check"></span>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <p class="btn_set">
                                <button class="btns btn_st1 btn_mid" id="saveBtn" onclick="save()" type="button">저장</button>
                                <button class="btns btn_bdr1 btn_mid" onclick="cancel()" type="button">취소</button>
                            </p>
                        </div>
                        <div class="fr w65">
                            <h4>관리자 리스트</h4>
                            <!-- 검색 영역 -->
                            <div class="search_box">
                                <div class="sch_group fl">
                                    <select id="searchType" name="searchType" title="검색종류 선택">
                                        <option value="">전체검색</option>
                                        <option value="loginId">아이디</option>
                                        <option value="name">관리자명</option>
                                    </select>
                                    <input id="keyword" name="keyword" type="text" value="" />
                                    <button class="btn bt_search" onclick="findPaginationAll()" type="button"><span>검색</span></button>
                                </div>
                            </div>
                            <!-- // 검색 영역 -->
                            <!-- 관리자 리스트 렌더링 영억 -->
                            <table class="tb tb_col">
                                <colgroup>
                                    <col style="width:auto;" />
                                    <col style="width:33%;" />
                                    <col style="width:33%;" />
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col">번호</th>
                                    <th scope="col">아이디</th>
                                    <th scope="col">관리자명</th>
                                    <th scope="col">사용여부</th>
                                </tr>
                                </thead>
                                <tbody id="list">

                                </tbody>
                            </table>
                            <!-- // 관리자 리스트 렌더링 영억 -->
                            <!-- paging -->
                            <div class="paging">
                                <ul>

                                </ul>
                            </div>
                            <!-- // paging -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        window.onload = () => {
            addEnterSearchEvent();
            findPaginationAll();
        }

        // 유효성 검사
        function isValid() {
            const form = findById('form');

            if (!form.loginId.value.trim()) {
                alert('아이디를 입력해 주세요.');
                form.loginId.value = '';
                form.loginId.focus();
                return false;
            }

            if (!form.password.value.trim() && form.passwordDuplicate.value === 'Y') {
                alert('비밀번호를 입력해 주세요.');
                form.password.value = '';
                form.password.focus();
                return false;
            }

            if (!form.name.value.trim()) {
                alert('관리자명을 입력해 주세요 ex)관리자');
                form.name.value = '';
                form.name.focus();
                return false;
            }

            // 아이디 중복체크
            if(form.isDuplicate.value === 'Y') {
                alert('아이디 중복 확인을 해주세요.');
                form.loginId.focus();
                return false;
            }

            return true;
        }

        // 관리자 등록
        function save(id) {

            if (!isValid()) {
                return false;
            }

            const formData = new FormData(findById('form'));
            const uri = (id) ?  `/api/members/admin/${id}` : '/api/members/admin';
            formData.set('authorityYn', 'Y');
            formData.set('type', 'ADMIN');

            callApi(uri, 'POST', formData, true).then(response => {
                const msg = ( !id ) ? '등록' : '정보 수정';
                alert(`관리자 ${msg}이 완료되었습니다.`);
                location.reload();
            }).catch(error => alert(error.message));
        }

        // 관리자 리스트 Paging, Search
        function findPaginationAll(page) {
            const form = findById('form');
            const pageParam = Number(new URLSearchParams(location.search).get('page'));
            page = (page) ? page : ((pageParam) ? pageParam : 1);
            const params = {
                page: page - 1,
                size: 10,
                searchType: form.searchType.value,
                keyword: form.keyword.value,
                memberType: 'ADMIN'
            }

            getJson('/api/members', params).then(response => {
                if (!response.content.length) {
                    findById('list').innerHTML = '<td colspan="10">등록된 관리자가 없습니다.</td>';
                    removePages();
                    return false;
                }

                let html = '';
                let num = response.totalElements - ((params.page) * params.size);
                const deleteYn = { Y : '<span class="btns btn_bdr2 btn_xs btnW40">미사용</span>', N : '<span class="btns btn_bdr1 btn_xs btnW40">사용</span>'};
                response.content.forEach((obj) => {
                    const event = `findAdmin('${obj.id}', '${obj.loginId}', '${obj.password}', '${obj.name}', '${obj.deleteYn}')`;
                    html += `
					    <tr>
                            <td>${num--}</td>
                            <td><a href="javascript:void(0);" onclick="${event}">${obj.loginId}</a></td>
                            <td>${obj.name}</td>
                            <td>${deleteYn[obj.deleteYn]}</td>
                        </tr>
					`;
                });
                findById('list').innerHTML = html;

                const paginationInfo = {
                    page: page,
                    size: params.size,
                    pageSize: 10,
                    totalElements: response.totalElements,
                    totalPages: response.totalPages
                }

                drawPages(paginationInfo, 'findPaginationAll');
            });
        }

        // 관리자 등록 부분에서 관리자 클릭 시, 관리자 정보를 그리는 함수
        async function findAdmin(id, loginId, password, name, deleteYn) {
            const form = findById('form');
            form.loginId.value = loginId;
            form.name.value = name;
            form.deleteYn.value = deleteYn;
            findById('saveBtn').setAttribute('onclick', `save(${id})`);

            // 관리자 정보를 클릭했을 경우
            form.isDuplicate.value = 'N';
            form.passwordDuplicate.value = 'N';
            form.checkBtn.innerText = '수정불가';
            form.checkBtn.className = 'btns btn_bdr2';
            form.loginId.readOnly = true;
            form.checkBtn.disabled = true;
        }

        // 관리자 아이디 중복 확인
        async function checkDuplicate(uri, params) {
            const form = findById('form');
            if(!form.loginId.value.trim()) {
                alert('아이디를 입력 후 중복확인을 해주세요.');
                form.loginId.focus();
                return false;
            }

            const id = findById('loginId');
            getJson(`/api/members/check/${id.value}`, params).then(exists => {
                if(exists) {
                    alert('이미 등록된 아이디 입니다.');
                    findById('isDuplicate').value = 'Y';
                    return false;
                }
                alert('사용 가능한 아이디 입니다.');
                findById('isDuplicate').value = 'N';
            });
        }

        // 관리자 등록 취소를 눌렀을 시
        function cancel() {
            const form = findById('form');
            form.reset();
            form.isDuplicate.value = 'Y';
            form.passwordDuplicate.value = 'Y';
            form.loginId.readOnly = false;
            form.checkBtn.innerText = '중복확인';
            form.checkBtn.className = 'btns btn_st2';
            form.checkBtn.disabled = false;
            form.password.readOnly = false;
            form.password.placeholder = '';

            findById('saveBtn').setAttribute('onclick', 'save()');
        }

        /*]]>*/
    </script>
</th:block>
</html>