<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="/layout/userLayout" xmlns:layout="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="main">
	<div id="contents" class="container">
		<div class="innerwrap">
			<div class="content">
				<div class="login_wrap idpw_search">
					<!-- 탭메뉴 -->
					<div id="tabmenu">
						<ul>
							<li><a href="/login/search-id"><span>아이디 찾기</span></a></li>
							<li><a href="/login/search-password" class="on"><span>비밀번호 찾기</span></a></li>
						</ul>
					</div>
					<!-- // 탭메뉴 -->
					<form id="form" name="form" onsubmit="return false;">
						<input type="hidden" id="idCheck" name="idCheck" value="N"/> <!-- ID 존재여부 확인 -->
						<input type="hidden" id="mailCheckYn" name="mailCheckYn" value="N"/> <!-- 이메일 인증여부 -->
						<!-- 아이디 찾기 -->
					<div class="idpw_box">
						<h4>비밀번호 찾기</h4>
						<p>비밀번호 잊으신 경우 아래의 정보로 본인확인을 합니다.</p>
						<!-- 입력폼 -->
						<ul class="find_input">
							<li id="mailCheck">
								<label for="loginId" class="skip_info">이메일 아이디</label>
								<div class="add_in"><input type="email" id="loginId" name="loginId" placeholder="이메일 아이디 입력" />
									<button type="button" class="btns add_btn emailchk" onclick="certifiedMail()">인증</button>
								</div>
							</li>
							<li>
								<label for="name" class="skip_info">이름</label>
								<div><input type="text" title="이름" id="name" name="name" placeholder="이름" /></div>
							</li>
						</ul>
						<p class="tc"><button type="button" class="btns btn_mem" onclick="findBoard()">비밀번호 찾기</button></p>
						<!-- // 입력폼 -->
					</div>
					<!-- // 아이디 찾기 -->
					</form>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/** 유효성 검사 */
		function isValid() {
			const form = findById('form');
			const nRegex = /^[가-힣]{2,15}$/; // 이름 유효성검사 정규식

			// 아이디 미입력 시
			if (!form.loginId.value.trim()) {
				alert('아이디를 입력해 주세요.');
				form.loginId.value = '';
				form.loginId.focus();
				return false;
			}
			// 이메일 인증여부
			if(form.mailCheckYn.value === 'N') {
				alert('이메일 인증을 진행해주세요.')
				return false;
			}
			// 이름 미입력시
			if(!form.name.value.trim()) {
				alert('이름을 입력해 주세요.');
				form.name.value = '';
				form.name.focus();
				return false;
			}
			// 이름 유효성 검사
			if(!nRegex.test(form.name.value)) {
				alert('특수문자,영어,숫자는 사용할수 없습니다. 한글만 입력해 주세요.');
				form.name.focus();
				return false;
			}
			return true;
		}

		/** 이메일 인증 버튼 클릭 시 */
		function certifiedMail () {

			const form = findById('form');
			const eRegex = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/; // 이메일 유효성검사 정규식

			// 이메일 유효성 검사
			if(!eRegex.test(form.loginId.value)) {
				alert('이메일 아이디 형식이 올바르지 않습니다.');
				form.loginId.focus();
				return false;
			}

			const id = findById('loginId');
			getJson(`/api/members/check/${id.value}`).then(exists => {
				if(exists) {
					findById('idCheck').value = 'Y';
					let html = '';
					const params = {
						email : form.loginId.value,
						mailType : '1'
					};
					fetch('/api/members/authentication-number', {
						method : 'POST',
						headers : { 'Content-Type' : 'application/json'},
						body : JSON.stringify(params)
					}).then(response => {
						if (!response.ok) {
							throw new Error("Request failed...")
						}
						return response.json();
					}).then(json => {
						html =
								`<li class="emailchk_num" style="display: list-item;">
									<p class="info_txt">입력하신 이메일로 보내드린 인증번호를 입력해주세요.</p>
									<label for="email">인증번호 입력</label>
									<div class="add_in"><input type="email" id="email" name="email" placeholder="인증번호" /> <button type="button" class="btns add_btn" onclick="mailCheckYnClick()">확인</button></div>
								</li>`;

						$("#mailCheck").after(html);
						form.loginId.readOnly = true;
						alert('작성하신 이메일 주소로 인증번호가 전송되었습니다.');

					}).catch(error => {
						alert('이메일 전송에 실패하였습니다.');
					});
				} else {
					alert('입력하신 이메일 아이디가 존재하지 않습니다.');
					findById('idCheck').value = 'N';
					return false;
				}

			});
		}

		/** 이메일 인증번호 입력 확인 버튼 클릭 시 */
		async function mailCheckYnClick() {
			const form = findById('form');
			if(!form.email.value.trim()) {
				alert('인증번호를 입력 후 확인을 클릭해주세요.');
				form.loginId.focus();
				return false;
			}

			let uri = '/api/members/confirm-email?' + 'email=' + form.loginId.value + '&authToken=' + form.email.value;

			fetch(uri).then(response => {
				if (!response.ok) {
					throw new Error("Request Error...");
				}

			}).then(response => {
				form.email.readOnly = true;
				form.mailCheckYn.value = 'Y';
				alert("인증번호 입력이 완료되었습니다.");
			}).catch(error => {
				alert('인증번호가 틀렸습니다.');
			});
		}

		/** 비밀번호 찾기 버튼 클릭 시 */
		function findBoard() {
			const form = findById('form');
			const nRegex = /^[가-힣]{2,15}$/; 									// 이름 유효성검사 정규식
			const eRegex = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/; // 이메일 유효성검사 정규식

			// 아이디 미입력 시
			if (!form.loginId.value.trim()) {
				alert('아이디를 입력해 주세요.');
				form.loginId.value = '';
				form.loginId.focus();
				return false;
			}
			// 이메일 유효성 검사
			if(!eRegex.test(form.loginId.value)) {
				alert('이메일 아이디 형식이 올바르지 않습니다.');
				form.loginId.focus();
				return false;
			}
			// 이름 미입력시
			if(!form.name.value.trim()) {
				alert('이름을 입력해 주세요.');
				form.name.value = '';
				form.name.focus();
				return false;
			}
			// 이름 유효성 검사
			if(!nRegex.test(form.name.value)) {
				alert('이름에 특수문자,영어,숫자는 사용할수 없습니다. 한글만 입력해 주세요.');
				form.name.focus();
				return false;
			}

			const loginId = findById('loginId').value;
			getJson(`/api/members/findPassword/${loginId}`).then(response => {
				if(form.mailCheckYn.value === 'N') {
					alert('이메일 인증이 진행되지 않았습니다.');
					return false;
				} else if(response.name === form.name.value){
					alert('회원 인증이 완료되었습니다.')
					location.href = 'http://localhost/login/search-password-info?' + location.search + `loginId=${loginId}`;
				} else {
					alert('아이디와 이름에 해당되는 아이디를 찾을 수 없습니다.');
				}
			});
		}

		/*]]>*/
	</script>
</th:block>
</html>