<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="/layout/userLayout"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="main">
    <div id="contents" class="container">
        <div class="innerwrap">
            <div class="content">
                <div class="login_wrap idpw_search">
                    <form id="form" name="form" onsubmit="return false;">
                        <!-- 비밀번호 찾기 -->
                        <div class="idpw_box">
                            <h4>비밀번호 재설정</h4>
                            <p>새로 사용할 비밀번호를 입력하세요.</p>
                            <!-- 입력폼 -->
                            <ul class="find_input">
                                <li>
                                    <label for="password" class="skip_info">변경 비밀번호</label>
                                    <div><input type="password" id="password" name="password"
                                                placeholder="변경 비밀번호 (8자리 이상, 특수문자 조합)"/></div>
                                </li>
                                <li>
                                    <label for="password_checked" class="skip_info">변경 비밀번호 확인</label>
                                    <div><input type="password" id="password_checked" name="password_checked"
                                                placeholder="변경 비밀번호 확인"/></div>
                                </li>
                            </ul>
                            <p class="tc">
                                <button type="button" class="btns btn_mem" onclick="savePassword()">비밀번호 변경</button>
                            </p>
                            <!-- // 입력폼 -->
                        </div>
                        <!-- // 비밀번호 찾기 -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

        function isValid() {
            const form = findById('form');
            const pRegex = /^.*(?=^.{8,20}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;	// 비밀번호 유효성검사 정규식

            // 비밀번호 유효성 검사
            if (form.password.value.length < 8 || form.password.value.length > 20) {
                alert("비밀번호는 8자리 ~ 20자리 이내로 입력해주세요.");
                return false;
            } else if (form.password.value.search(/\s/) !== -1) {
                alert("비밀번호는 공백 없이 입력해주세요.");
                return false;
            } else if (!pRegex.test(form.password.value)) {
                alert("영문,숫자, 특수문자를 혼합하여 입력해주세요.");
                return false;
            }

            // 비밀번호 미입력시
            if (!form.password.value.trim()) {
                alert('비밀번호를 입력해 주세요.');
                form.password.value = '';
                form.password.focus();
                return false;
            }

            // 비밀번호 확인 미입력시
            if (!form.password_checked.value.trim()) {
                alert('비밀번호 확인을 입력해 주세요.');
                form.password_checked.value = '';
                form.password_checked.focus();
                return false;
            }

            // password === passwordCheck 확인
            if (form.password.value !== form.password_checked.value) {
                alert('입력하신 비밀번호와 비밀번호 확인 값이 일치하지 않습니다.')
                form.password.value = '';
                form.password_checked.value = '';
                form.password.focus();
                return false;
            }

            return true;
        }

        function savePassword() {
            if (!isValid()) {
                return false;
            }

            const form = findById('form');
            const loginId = new URLSearchParams(location.search).get('loginId');

            fetch(`/api/members/password-update/${loginId}`, {
                method: 'POST',
                body  : form
            }).then(response => {
                if (!response.ok) {
                    throw new Error("Request failed...")
                }
                alert('비밀번호 변경이 완료되었습니다.')
                location.href = '/login';
            }).catch(error => {
                console.log(error);
            });
        }


        /*]]>*/
    </script>
</th:block>
</html>