@charset "utf-8";
/* CSS Document */
/* skip */
#skipnav {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#skipnav a {
    display: block;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: 0 -1px -1px 0;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

#skipnav a:focus, #skipnav a:hover, #skipnav a:active {
    width: auto;
    height: 20px;
    margin: 0;
    padding: 8px 0 5px;
    background: #20262c;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

.skip_info {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: 100%;
}

#adm_wrap {
    min-width: 1200px;
}

#login_box h2:before, #snb h3 strong:before, #snb > ul > li > a:before, .rcontent h3:before, .paging .page_bt:after,
header .head .top_menu .login_user > span:before, header .head .top_menu > ul li a > span:before,
.es, .wr_cm_txt span:before, .menu_toggle > span, header nav > .add_menu > li > a:before,
.bt_icon:before, .cm_list > div .cm_answer:before, .cm_list > div .writer .bt input {
    content: '';
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
}

header * {
    box-sizing: border-box;
}

header .head {
    background: url(../images/header_pattern.gif) 0 0 repeat;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 0;
}

header .head h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
}

header .head h1 i {
    color: #e3e3e3;
    font-size: 12px;
    font-weight: 400;
}

header .head .top_menu {
    float: right;
    overflow: hidden;
    font-size: 11px;
}

header .head .top_menu > p, header .head .top_menu > ul, header .head .top_menu > ul li, header .head .top_menu > div {
    display: table-cell;
    vertical-align: middle;
}

header .head .top_menu, header .head .top_menu a {
    color: #fff;
}

header .head .top_menu .login_user {
    color: #9c9c9c;
}

header .head .top_menu .login_user > span {
    display: inline-block;
    position: relative;
    padding-left: 16px;
}

header .head .top_menu .login_user > span:before {
    background-position: 0 0;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 0;
}

header .head .top_menu .login_user strong {
    color: #fff;
}

header .head .add_menu > a {
    display: inline-block;
    color: #bbb;
    padding: 0 5px 0 7px;
    position: relative;
}

header .head .add_menu > a:before {
    content: '';
    background: #777;
    width: 1px;
    height: 9px;
    position: absolute;
    top: 2px;
    left: 0;
}

header .head .add_menu > a:first-child:before {
    display: none;
}

header .total_sch {
    padding: 0 10px;
}

header .total_sch .inner {
    background: #fff;
    position: relative;
    padding-right: 20px;
}

header .total_sch input {
    border: 0;
}

header .total_sch [type="text"] {
    width: 120px;
    height: 24px;
}

header .total_sch [type="image"] {
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -7px;
}

header .head .top_menu > ul li {
    padding: 0 12px;
    position: relative;
}

header .head .top_menu > ul li:before {
    content: '';
    background: #2b333c;
    width: 1px;
    height: 27px;
    position: absolute;
    top: 4px;
    left: 0;
}

header .head .top_menu > ul li:after {
    content: '';
    background: #4b525a;
    width: 1px;
    height: 27px;
    position: absolute;
    top: 4px;
    left: 1px;
}

header .head .top_menu > ul li:first-child:before, header .head .top_menu > ul li:first-child:after {
    display: none;
}

header .head .top_menu > ul li a {
    display: block;
    height: 35px;
    line-height: 37px;
}

header .head .top_menu > ul li a > span {
    display: block;
    position: relative;
    padding-left: 27px;
}

header .head .top_menu > ul li a.tm01 {
    background: #2b3440;
    border: 1px solid #4b525a;
    border-radius: 3px;
    padding: 0 15px;
    color: #fdcb0a;
}

header .head .top_menu > ul li a.tm02 {
    color: #b2b6bd;
}

header .head .top_menu > ul li a.tm01 > span:before {
    background-position: -78px -25px;
    width: 24px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 0;
}

header .head .top_menu > ul li a.tm02 > span:before {
    background-position: -70px 0;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 6px;
    left: 0;
}

header nav {
    background: #3b3e4a;
    border-top: 1px solid #0f1013;
    position: relative;
    padding: 4px 0;
    padding-left: 10px;
    padding-right: 230px;
}

header nav:after {
    content: '';
    background: url(../images/gnb_border.gif) 0 100% repeat-x;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}

header nav > ul {
    overflow: hidden;
}

header nav > ul > li {
    float: left;
}

header nav > ul > li > a {
    display: block;
    color: #fff;
    font-weight: 500;
    padding: 11px 15px;
}

header nav > ul > li > a.on {
    background: #b40600;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

header nav > ul.add_menu {
    position: absolute;
    top: 4px;
    right: 0;
}

header nav > ul.add_menu > li > a {
    position: relative;
    padding-left: 18px;
    color: #73daf0;
}

header nav > ul.add_menu > li > a.mn02 {
    color: #fdcb0a;
}

header nav > ul.add_menu > li > a:before {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -9px;
}

header nav > ul.add_menu > li > a.mn01:before {
    background-position: -39px -26px;
}

header nav > ul.add_menu > li > a.mn02:before {
    background-position: -58px -26px;
}

footer {
    text-align: center;
    letter-spacing: 0;
    border-top: 1px solid #d7d7d7;
    padding: 25px 0;
}

/* 로그인 ------------------------------- */
#login_wrap * {
    font-family: 'Noto Sans KR', Arial, tahoma, Helvetica, sans-serif, Dotum;
    font-weight: 400;
    letter-spacing: 0;
}

#login_wrap {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    min-width: 410px;
    min-height: 500px;
    position: absolute;
    top: 0;
}

#login_wrap:before {
    content: '';
    background: url(../images/login_pattern.gif) 0 0 repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 435px;
}

#login_wrap:after {
    content: '';
    background: url(../images/login_bg.gif) 50% 0 no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 435px;
}

#login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -260px 0 0 -210px;
    width: 420px;
    height: 520px;
    background: #fff;
    box-shadow: 4px 4px 0px 0px rgba(80, 80, 80, 0.1);
    line-height: 1.3;
    text-align: center;
    z-index: 2;
}

#login_box h2 {
    font-size: 30px;
    font-weight: 500;
    color: #222;
    line-height: 1.2;
    position: relative;
    margin-top: 40px;
}

#login_box h2:before {
    display: block;
    background-position: 0 -75px;
    width: 70px;
    height: 60px;
    margin: 0 auto 10px;
}

#login_box h2 i {
    display: block;
    font-size: 10px;
    color: #777;
    font-weight: 300;
}

#login_box h2 + p {
    font-size: 50px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif, Dotum;
    font-weight: bold;
}

#login_box h2 + p i {
    color: #b40600;
    font-weight: bold;
}

#login_box h2 + p > span {
    display: block;
    font-size: 24px;
    color: #222;
    font-weight: bold;
}

#login_box .login_input {
    margin: 20px 50px;
}

#login_box .login_input ul {
    border: 1px solid #d5d5d5;
}

#login_box .login_input ul li {
    background: #fff;
    border-top: 1px solid #d5d5d5;
}

#login_box .login_input ul li:first-child {
    border-top: 0;
}

#login_box .login_input ul li input {
    border: 0;
    margin: 0;
    font-size: 14px;
    padding: 0px 10px;
    width: 100%;
    height: 45px;
}

#login_box .login_btn {
    background: #b40600;
    border: 0;
    border-bottom: solid 3px #9a0500;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 20px 0 15px;
}

#login_box .login_input ul li input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

/* Webkit */
#login_box .login_input ul li input::-moz-placeholder {
    color: #999;
    font-size: 14px;
}

/* moz */
#login_box .login_input ul li input::-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}

/* IE10+ */
#login_wrap .copyright {
    color: #888;
    position: absolute;
    bottom: 30px;
    width: 100%;
    font-size: 13px;
    text-align: center;
}

.copy_text {
    display: inline-block;
    text-align: right;
}

.copy_text span {
    display: block
}