@charset "utf-8";
/* CSS Document */

h2 {
    font-size: 30px;
    line-height: 1.3;
}

h2 i {
    display: block;
    font-size: 18px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 22px;
    position: relative;
    margin-bottom: 10px;
}

h4 i {
    font-size: 15px;
    font-weight: 400;
    color: #e94d6f;
}

h5 {
    font-size: 18px;
    color: #44478e;
    position: relative;
    margin-bottom: 10px;
}

.tit_group h4 {
    margin-bottom: 7px;
}

section {
    padding: 60px 0 0;
}

.content section:first-child, .info_txt + section {
    padding-top: 0;
}

.container {
    background: #fff;
    padding: 50px 0 100px;
    min-height: 500px;
}

.pagetitle + .content {
    margin: 40px 0 0;
}

.s02, .s03 {
    overflow: hidden;
}

.s02 > div {
    float: left;
    width: 48%;
    margin-left: 4%;
}

.s02 > div:nth-child(2n+1) {
    margin-left: 0;
}

.s03 > div {
    float: left;
    width: 30%;
    margin-left: 5%;
}

.s03 > div:nth-child(3n+1) {
    margin-left: 0;
}

/* 준비중입니다 */
.ing {
    text-align: center;
    padding: 8% 5%;
    width: 100%;
}

.ing > p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.ing img {
    width: 50%;
    max-width: 184px;
}

/* 기타텍스트 */
.cm_txt {
    font-size: 14px;
}

.emtxt {
    color: #e94d6f;
}

.emtxt.v2 {
    color: #093f90;
}

.info_txt {
    position: relative;
    padding-left: 23px;
    margin: 0 0 10px 0;
    font-size: 13px;
    color: #999;
    text-align: left;
}

.info_txt::before {
    background-position: -45px -140px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 2px;
    left: 0;
}

.refer_text {
    margin-top: 30px;
}

.refer_text > p {
    position: relative;
    padding-left: 20px;
}

.refer_text > p::before {
    content: '※';
    position: absolute;
    top: 0;
    left: 0;
}

.refer_text > p + p {
    margin-top: 15px;
}

/* 텍스트그룹 기본스타일 */
.dot_list > li {
    position: relative;
    padding-left: 12px;
    text-align: left;
}

.dot_list > li:before {
    content: '';
    display: block;
    background: #aaa;
    border-radius: 50px;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 10px;
    left: 0;
}

.dot_list > li + li {
    margin-top: 12px;
}

.dot_list > li ul {
    margin: 0.8% 0;
}

.dot_list > li li {
    margin: 10px 0;
    font-weight: 300;
    position: relative;
    padding-left: 12px;
}

.dot_list > li li::before {
    content: '-';
    position: absolute;
    top: 0px;
    left: 0;
}

.num_list > li {
    position: relative;
    margin: 1% 0;
    padding-left: 15px;
}

.num_list > li span.num {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    color: #005aab;
}

.num_list > li > ul, .num_list > li ol {
    margin: 0.8% 0;
}

.dttxt dt {
    margin: 15px 0 5px;
    font-size: 16px;
    color: #222;
    font-weight: 500;
}

.dttxt dt:first-child {
    margin-top: 0;
}

.dttxt dd {
    color: #777;
}

.group_txt dt {
    font-size: 22px;
    color: #222;
    margin-bottom: 7px;
}

td .dot_list {
    margin-left: 10px;
}

td .dot_list > li + li {
    margin-top: 7px;
}

/* 탭메뉴 */
#tabmenu:after {
    content: '';
    display: block;
    clear: both;
}

#tabmenu > ul {
    float: left;
    padding-left: 1px;
    width: 100%;
    border-bottom: 2px solid #44478e;
    margin-bottom: 20px;
}

#tabmenu li {
    float: left;
    margin-bottom: -2px;
    width: 50%;
}

#tabmenu a, #tabmenu button {
    display: block;
    position: relative;
    margin-left: -1px;
    padding: 11px 0 10px;
    width: 100%;
    min-width: 80px;
    border: 1px solid #ddd;
    border-bottom: 0;
    background: #f7f7f7;
    font-weight: 500;
    color: #777;
    text-align: center;
    letter-spacing: -0.1em;
    line-height: 1.2em;
    cursor: pointer;
}

#tabmenu .on, #tabmenu .active {
    padding: 11px 0;
    border: 2px solid #44478e;
    border-bottom: 0;
    background: #fff;
    color: #44478e;
    z-index: 2;
}

#tabmenu a:hover, #tabmenu button:hover {
    background: #eee;
}

#tabmenu .on:hover, #tabmenu .active:hover {
    border: 2px solid #44478e;
    border-bottom: 0;
    background: #fff;
    color: #44478e;
}

#tabmenu.s03 li {
    width: 33.33%;
}

#tabmenu.s03 li:first-child {
    width: 33.34%;
}

/* sub_visual */
#sub_visual {
    position: relative;
}

#sub_visual .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#sub_visual .visual {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0;
}

#sub_visual .imgs {
    float: left;
    width: calc(100% - 50%);
    position: relative;
    z-index: 1;
}

#sub_visual .tit_group {
    float: left;
    width: 50%;
    color: #888;
    font-weight: 300;
    position: relative;
    z-index: 1;
}

#sub_visual .tit_group h2 {
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}

#sub_visual.sub_vis01 .bg {
    background-color: #fbf7ef;
}

#sub_visual.sub_vis02 .bg {
    background-color: #e5f1ff;
}

#sub_visual.sub_vis03 .bg {
    background-color: #fae7d6;
}

#sub_visual.sub_vis04 .bg {
    background-color: #d2d9f3;
}

#sub_visual.sub_vis05 .bg {
    background-color: #d2d9f3;
}

#sub_visual .tit_group .path_wrap {
    font-size: 0;
}

#sub_visual .tit_group .path_wrap > span {
    display: inline-block;
    position: relative;
    padding: 0 12px 0 17px;
    font-size: 15px;
}

#sub_visual .tit_group .path_wrap > span::before {
    background-position: -84px -142px;
    width: 7px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 0;
}

#sub_visual .tit_group .path_wrap > span:first-child::before {
    display: none;
}

.lcont {
    float: left;
    width: 20%;
    margin-top: -60px;
}

.rcont {
    float: right;
    width: 75%;
    padding-top: 40px;
}

.rcont h3 {
    position: relative;
    padding-bottom: 10px;
}

/* pagetitle */
.pagetitle {
    overflow: hidden;
}

.pagetitle h3 {
    float: left;
    width: 45%;
}

.pagetitle .menulink {
    float: right;
    width: 50%;
    text-align: right;
}

.pagetitle .menulink > a {
    color: rgba(51, 51, 51, 0.7);
    border: 0;
    line-height: 34px;
}

.pagetitle .menulink > a.on {
    color: #222;
    border: 1px solid #222;
    border-radius: 50px;
}

.pagetitle .menulink > a:hover {
    color: #44478e;
}

/* intro */
.intro {
    font-size: 16px;
    line-height: 1.9;
}

.intro .msg_head {
    color: #5458ae;
    font-size: 18px;
}

.intro .text, .intro .text li + li {
    margin-top: 30px;
}

/* 자료를 올리려면 */
.oursystem {
    margin-top: 30px;
}

.oursystem li {
    border-bottom: 1px solid #ececec;
    padding: 20px;
}

.oursystem li:nth-child(odd) {
    background: #f9f9f9;
}

.oursystem .innerbox {
    position: relative;
    padding-left: 80px;
}

.oursystem .innerbox .num {
    background: #44478e;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 5px;
    left: 0;
    text-align: center;
}

.oursystem .info > div {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.oursystem .info > div > span {
    float: left;
    width: 50px;
    height: 26px;
    line-height: 24px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 50px;
    margin-top: 2px;
    text-align: center;
}

.oursystem .info > div > div {
    float: left;
    width: calc(100% - 65px);
    margin-left: 15px;
    color: #888;
    font-size: 14px;
}

/* 정회원 소개 */
.prof_list > ul {
    overflow: hidden;
    margin-top: -1.5%;
}

.prof_list > ul li {
    float: left;
    width: 49%;
    margin: 1.5% 0;
    margin-left: 2%;
    overflow: hidden;
}

.prof_list > ul li:nth-child(odd) {
    margin-left: 0;
    clear: both;
}

.prof_list > ul li > div {
    float: left;
}

.prof_list > ul li .thumb {
    border: 1px solid #e5e5e5;
    width: 35%;
}

.prof_list > ul li .thumb_wrap p {
    padding-top: 115%;
}

.prof_list > ul li .cont {
    width: 60%;
    margin-left: 5%;
}

.prof_list > ul li .cont > strong {
    display: block;
    font-size: 18px;
    color: #222;
    margin-bottom: 3%;
}

.prof_list > ul li .cont > div {
    display: block;
    max-width: 100%;
    line-height: 1.3;
    max-height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.prof_list > ul li .cont > a {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #ddd;
    height: 24px;
    line-height: 22px;
    padding: 0 10px;
    margin-top: 6%;
}

.prof_list > ul li .cont > a i {
    font-style: normal;
    position: relative;
}

.prof_list > ul li .cont > a i:after {
    content: '>';
    font-family: dotum;
    font-size: 10px;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

/* 정회원 소개_상세 */
.prof_view {
    overflow: hidden;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 30px;
}

.prof_view > div {
    float: left;
}

.prof_view .thumb {
    width: 20%;
    text-align: center;
}

.prof_view .thumb .thumb_wrap {
    border: 1px solid #e5e5e5;
    max-width: 200px;
    margin: 0 auto;
}

.prof_view .thumb .thumb_wrap p {
    padding-top: 135%;
}

.prof_view .cont {
    width: 70%;
    margin-left: 10%;
}

.prof_view .cont > strong {
    display: block;
    font-size: 21px;
    color: #222;
    margin-bottom: 4%;
    background: url(../images/sub_tit_bg.gif) 0 100% repeat-x;
    padding-bottom: 20px;
}

.prof_view .cont > div {
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.04);
    padding: 15px;
    margin-top: 10px;
}

.prof_view .cont > div + h5 {
    margin-top: 40px;
}

.prof_view .cont > div .dot_list > li + li {
    margin-top: 5px;
}

/* 사이트맵 */
.sitemap {
    overflow: hidden;
    font-size: 0;
    margin-top: -2%;
}

.sitemap dl {
    width: 22%;
    margin: 2% 0 2% 4%;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0;
    vertical-align: top;
    *display: inline;
    zoom: 1;
}

.sitemap dl:nth-child(4n+1) {
    margin-left: 0;
}

.sitemap dl dt {
    border-bottom: solid 1px #e94d6f;
    padding: 13px 10px;
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

.sitemap dl dd {
    border-bottom: solid 1px #e5e5e5;
    position: relative;
}

.sitemap dl dd a {
    display: block;
    color: #777;
    padding: 13px 10px;
}

@media screen and (max-width: 1024px) {
    .lcont, .rcont {
        float: none;
        width: auto;
    }

    .lcont {
        margin-top: 0;
    }

    .rcont {
        padding-top: 0;
    }
}

@media screen and (max-width: 980px) {
    .s02 > div, .s03 > div {
        float: none;
        width: auto;
        margin-left: 0;
    }

    /* pagetitle */
    .pagetitle h3, .pagetitle .menulink {
        float: none;
        width: auto;
    }

    .pagetitle .menulink {
        text-align: center;
        margin-top: 20px;
    }

    .pagetitle .menulink > a {
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    html, body, input, select, .f16, .f18 {
        font-size: 14px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    /* 텍스트그룹 기본스타일 */
    .dot_list > li:before {
        top: 1px;
    }

    .dttxt dt {
        font-size: 14px;
    }

    .group_txt dt {
        font-size: 18px;
    }

    .container {
        min-height: 100px;
    }

    /* sub_visual */
    #sub_visual .visual {
        padding: 30px 0 20px 0;
    }

    #sub_visual .imgs {
        float: none;
        width: 100%;
        margin-top: 15px;
        text-align: center;
    }

    #sub_visual .tit_group {
        float: none;
        width: 100%;
        font-size: 13px;
    }

    /* intro */
    .intro {
        font-size: 14px;
    }

    /* 정회원 소개 */
    .prof_list > ul li {
        float: none;
        width: auto;
        margin-left: 0;
    }

    .prof_list > ul li + li {
        margin-top: 30px;
    }

    /* 사이트맵 */
    .sitemap dl {
        width: 100%;
        margin: 0;
    }

    .sitemap dl + dl {
        margin-top: 30px;
    }
}

@media screen and (max-width: 640px) {
    /* 정회원 소개_상세 */
    .prof_view > div {
        float: none;
        width: auto !important;
    }

    .prof_view .thumb {
        max-width: 300px;
        margin: 0 auto 40px;
    }

    .prof_view .cont {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    /* 자료를 올리려면 */
    .oursystem .innerbox {
        padding-left: 50px;
    }

    .oursystem .innerbox .num {
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: 5px;
    }
}