<!DOCTYPE html>
<html lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<title>Library Project - Error Page</title>
<link rel="stylesheet" type="text/css" href="/error/css/default.css" />
<link rel="stylesheet" type="text/css" href="/error/css/common.css" />
<link rel="stylesheet" type="text/css" href="/error/css/content.css" />
<link rel="stylesheet" type="text/css" href="/error/css/button.css" />
<script src="/error/js/jquery-1.11.1.min.js"></script>
<!--[if lt IE 9]>
	<script src="/error/js/html5shiv.js"></script>
	<![endif]-->
</head>

<body>
<div id="error">
	<div class="cont">
		<p class="imgs"><img src="/error/images/icon_errorpage.png" alt="" /></p>
		<div class="msg">
			<em>요청하신 페이지를 찾을 수 없습니다.</em>
			입력한 주소가 잘못되었거나, 사용이 일시 중단되어 요청하신 페이지를 찾을 수 없습니다.
			<div class="btn_set"><button type="button" class="btns btn_st2 btn_mid" onclick="history.go(-1)">이전 페이지로</button></div>
		</div>
	</div>
</div>
</body>
</html>