@charset "utf-8";

/* skip */
#skipnav {
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#skipnav a {
    display: block;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: 0 -1px -1px 0;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

#skipnav a:focus, #skipnav a:hover, #skipnav a:active {
    width: auto;
    height: 20px;
    margin: 0;
    padding: 8px 0 5px;
    background: #20262c;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
}

.skip_info {
    display: block;
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    text-indent: 100%;
}

/* #adm_wrap {min-width:1200px;} */
#adm_wrap {
    min-width: 1000px;
}

.innerwrap {
    max-width: 1200px;
    margin: 0 auto;
}

#snb h3 strong:before, #snb > ul > li > a:before, #container h3:before, .paging .page_bt:after,
header .head .top_menu .login_user > span:before, header .head .top_menu > ul li a > span:before,
.es, .wr_cm_txt span:before, .menu_toggle > span, header nav > .add_menu > li > a:before,
.search_box .bt_search > span,
.bt_icon:before, .cm_list > div .cm_answer:before, .cm_list > div .writer .bt input {
    content: '';
    background-image: url(../images/common/icons.png);
    background-repeat: no-repeat;
}

header * {
    box-sizing: border-box;
}

header .head {
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 0;
    background: #fff;
}

header .head h1 {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: 'malgun gothic', sans-serif;
    font-weight: bold;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
}

header .head h1 i {
    color: #e3e3e3;
    font-size: 12px;
    font-weight: 400;
}

header .head .top_menu {
    float: right;
    overflow: hidden;
    font-size: 11px;
}

header .head .top_menu > p, header .head .top_menu > ul, header .head .top_menu > ul li, header .head .top_menu > div {
    display: table-cell;
    vertical-align: middle;
}

header .head .top_menu, header .head .top_menu a {
    color: #fff;
}

header .head .top_menu .login_user {
    color: #777;
}

header .head .top_menu .login_user > span {
    display: inline-block;
    position: relative;
    padding-left: 16px;
}

header .head .top_menu .login_user > span:before {
    background-position: 0 0;
    width: 12px;
    height: 11px;
    position: absolute;
    top: 1px;
    left: 0;
}

header .head .top_menu .login_user strong {
    color: #333;
}

header .head .add_menu > a {
    display: inline-block;
    color: #bbb;
    padding: 0 5px 0 7px;
    position: relative;
}

header .head .add_menu > a:before {
    content: '';
    background: #777;
    width: 1px;
    height: 9px;
    position: absolute;
    top: 2px;
    left: 0;
}

header .head .add_menu > a:first-child:before {
    display: none;
}

header .total_sch {
    padding: 0 10px;
}

header .total_sch .inner {
    background: #fff;
    position: relative;
    padding-right: 20px;
}

header .total_sch input {
    border: 0;
}

header .total_sch [type="text"] {
    width: 120px;
    height: 24px;
}

header .total_sch [type="image"] {
    position: absolute;
    top: 50%;
    right: 7px;
    margin-top: -7px;
}

header .head .top_menu > ul li {
    padding: 0 12px;
    position: relative;
}

header .head .top_menu > ul li:before {
    content: '';
    background: #2b333c;
    width: 1px;
    height: 27px;
    position: absolute;
    top: 4px;
    left: 0;
}

header .head .top_menu > ul li:after {
    content: '';
    background: #4b525a;
    width: 1px;
    height: 27px;
    position: absolute;
    top: 4px;
    left: 1px;
}

header .head .top_menu > ul li:first-child:before, header .head .top_menu > ul li:first-child:after {
    display: none;
}

header .head .top_menu > ul li a {
    display: block;
    height: 35px;
    line-height: 37px;
}

header .head .top_menu > ul li a > span {
    display: block;
    position: relative;
    padding-left: 27px;
}

header .head .top_menu > ul li a.tm01 {
    background: #2b3440;
    border: 1px solid #4b525a;
    border-radius: 3px;
    padding: 0 15px;
    color: #777;
}

header .head .top_menu > ul li a.tm02 {
    color: #777;
}

header .head .top_menu > ul li a.tm01 > span:before {
    background-position: -78px -25px;
    width: 24px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: 0;
}

header .head .top_menu > ul li a.tm02 > span:before {
    background-position: -70px 0;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 6px;
    left: 0;
}

#gnb {
    background: #2a2d31;
    position: relative;
}

#gnb:before {
    content: '';
    background: #1a1c1e;
    width: 100%;
    height: 38px;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: 2;
}

#gnb ul.menu {
    position: relative;
    height: 70px;
}

#gnb ul.menu li {
    float: left;
}

#gnb ul.menu > li > a {
    display: block;
    width: 120px;
    height: 70px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    border-right: 1px solid #36393d;
}

#gnb ul.menu > li > a i {
    display: block;
    font-size: 21px;
    margin: 5px 0;
}

#gnb ul.menu > li:first-child > a {
    border-left: 1px solid #36393d;
}

#gnb ul.menu > li > a.on {
    background: #d74242;
}

#gnb ul.menu li ul {
    display: none;
    position: absolute;
    top: 67px;
    z-index: 3;
}

#gnb ul.menu li ul li a {
    display: block;
    padding: 12px 10px;
    color: #fff;
}

#gnb ul.menu li ul li:first-child a {
    background: none;
}

#gnb ul.menu li ul li a.on {
    color: #ccc;
}

footer {
    text-align: center;
    letter-spacing: 0;
    background: #2a2d31;
    color: #f6f7f8;
    padding: 25px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* 로그인 ------------------------------- */
#login_wrap * {
    font-family: 'Noto Sans KR', Arial, tahoma, Helvetica, sans-serif, Dotum;
    font-weight: 400;
    letter-spacing: 0;
}

#login_wrap {
    background: #454545;
    width: 100%;
    height: 100%;
    min-width: 450px;
    min-height: 500px;
    position: absolute;
    top: 0;
}

#login_wrap:before {
    content: '';
    background: url(../images/common/login_pattern.gif) 0 0 repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

#login_wrap:after {
    content: '';
    background: url(../images/common/login_bg.gif) 50% 0 no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    opacity: 0.5;
}

#login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -230px;
    width: 460px;
    height: 400px;
    padding: 40px 50px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, .05);
    line-height: 1.3;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

#login_box h2 {
    font-size: 24px;
    font-weight: 500;
    color: #222;
    position: relative;
}

#login_box h2 img {
    max-width: 200px;
    max-height: 40px;
}

#login_box h2 i {
    display: block;
    font-size: 10px;
    color: #777;
    font-weight: 300;
}

#login_box h2 + p {
    font-size: 48px;
    line-height: 1.2;
    color: #333;
    font-weight: 700;
}

#login_box h2 + p i {
    color: #d74242;
    font-weight: 700;
}

#login_box h2 + p > span {
    display: block;
    font-size: 24px;
    color: #222;
    font-weight: bold;
}

#login_box .login_input {
    margin-top: 20px;
}

#login_box .login_input ul li {
    background: #fff;
}

#login_box .login_input ul li + li {
    margin-top: 7px;
}

#login_box .login_input ul li input {
    border: 1px solid #d5d5d5;
    border-radius: 50px;
    margin: 0;
    font-size: 14px;
    padding: 0px 20px;
    width: 100%;
    height: 47px;
}

#login_box .login_btn {
    background: #d74242;
    border: 0;
    border-bottom: solid 3px #c13636;
    border-radius: 50px;
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 20px 0 15px;
}

#login_box .login_input ul li input::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

/* Webkit */
#login_box .login_input ul li input:-moz-placeholder {
    color: #999;
    font-size: 14px;
}

/* moz */
#login_box .login_input ul li input:-ms-input-placeholder {
    color: #999;
    font-size: 14px;
}

/* IE10+ */
#login_wrap .copyright {
    color: #888;
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    text-align: center;
}